---
interface Props {
  text: string;
  mode: "light" | "dark" | "outline";
}

const { text, mode = "outline" } = Astro.props;
const styles = {
  outline: {
    bg: "bg-transparent",
    text: `text-white`,
    border: `border-white`,
    hoverBorder: `hover:border-white`,
    hoverText: `hover:text-stone-700`,
    hoverBg: `hover:bg-white`,
  },
  light: {
    bg: "bg-white",
    text: `text-stone-700`,
    border: `border-white`,
    hoverBorder: `hover:border-white/10`,
    hoverText: `hover:text-stone-700`,
    hoverBg: `hover:bg-white/80`,
  },
  dark: {
    bg: "bg-stone-700",
    text: `text-white`,
    border: `border-stone-700`,
    hoverBorder: `hover:border-stone-600`,
    hoverText: `hover:text-white`,
    hoverBg: `hover:bg-stone-600`,
  },
};
---

<a
  href="#"
  class={`
    inline-block text-sm font-medium px-9 rounded transition-all py-2 border-2 
    ${styles[mode].bg} 
    ${styles[mode].text}
    ${styles[mode].border}
    ${styles[mode].hoverText}
    ${styles[mode].hoverBg}
    ${styles[mode].hoverBorder}
    `}
>
  {text}
</a>
