---
interface Props {
  color: string;
  title: string;
  subtitle: string;
  sectionId: string;
}

const { color = "black", title, subtitle, sectionId } = Astro.props;
const textColor = `text-${color}`;
---

<section
  class="h-screen w-screen text-center relative overflow-hidden bg-black landing-sections snap-always snap-center"
  data-header-color={color}
  id={sectionId}
>
  <div class="absolute top-0 left-0 bottom-0 right-0">
    <slot name="background" />
  </div>
  <header class={`relative ${textColor}`}>
    <h2 class="pt-28 text-[40px] font-medium mb-1">{title}</h2>
    <p class="text-sm">{subtitle}</p>
  </header>
  <footer class={`absolute text-center w-full bottom-20 ${textColor}`}>
    <slot name="footer" />
  </footer>
</section>
